.intro {
  position: relative;
  height: 100vh;
  width: 100vw;
}
.intro_title {
  position: absolute;
  top: 30%;
  left: 10%;
}
.intro_title h1 {
  color: white;
  font-size: 80px;
  margin-bottom: 20px;
}
.intro_title h2 {
  color: #bec5d2;
  font-size: 40px;
  font-weight: 500;
}
.intro_img img {
  width: 100vw;
  height: 100vh;
}
.slider {
  display: flex;
  height: 1500px;
  justify-content: space-around;
}
.slider_img {
  width: 700px;
  position: sticky;
  top: 300px;
  align-self: flex-start;
  margin-top: 300px;
  padding-bottom: 300px;
}
.slider_img img {
  width: 100%;
}
.title {
  width: 400px;
  /* margin-left: 20px; */
  margin-top: 100vh;
}
.title h2 {
  font-size: 36px;
  margin-bottom: 10px;
}
